# All
git/gitk
gtk-3.0/*
nushell/scripts/playground.nu
nushell/history.txt
scoop/*
wezterm/*

# Linux
autostart/*
baloofileinformationrc
baloofilerc
bluedevilglobalrc
carapace/*
dconf/*
device_automounter_kcmrc
discord/*
dolphinrc
EOS-greeter.conf
go/*
gtk-4.0/*
gtkrc
gtkrc-2.0
gwenviewrc
haruna/*
harunarc
heroic/*
imhex/*
jamesdsp/*
jamesdsprc
kate/*
kate-externaltoolspluginrc
katerc
katevirc
kactivitymanagerd-statsrc
kactivitymanagerdrc
KDE/*
kded_device_automounterrc
kcminputrc
kconf_updaterc
kde.org/*
kdeconnect/*
kded5rc
kded6rc
kdedefaults/*
kdeglobals
kfontinstuirc
kglobals
kglobalshortcutsrc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
libaccounts-glib/*
mimeapps.list
org.kde.kded.smart.notifyrc
pavucontrol.ini
pipewire/*
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
privateinternetaccess/*
pulse/*
qBittorrent/*
qBittorrentrc
QtProject.conf
sddmthemeinstallerrc
session/*
spectaclerc
systemd/*
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd/*

